[Unit]
Description=Autostart my Application
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash /home/robot/catkin_ws/src/config/autostart/root_autostart.sh

[Install]
WantedBy=multi-user.target

